* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; 
}

footer {
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

/*buttons:*/
.text-bg-dark, .btn{
  background-color: #243b77 !important;
  
}

.btn-warning{
  background-color:#edc74b !important;
  border-color: #edc74b !important;
}

.border-top{
  border-color: #243b77 !important; 
}


/* Collection-Collectionuser pages:*/
/*main div*/
.book-list {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  gap: 20px; 
  max-width: 100%; 
  margin: 40px auto; 
  padding: 40px;
  box-sizing: border-box; 
}

/*filters div:*/
.filters {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  flex: 0 0 30%; 
  max-width: 250px;
}


.filter-options {
  display: flex;
  flex-direction: column; 
}

.filter-options label {
  margin-bottom: 25px; 
}

.btnsearch{
  max-width: 100px; /* Establece un ancho máximo */
    width: auto;
}
/* books container: */
.cover-book {
  display: flex;
  flex-direction: column; 
  gap: 15px; 
  flex: 1; 
  max-width: 800px;
  min-width: 400px; 
  margin: 0 auto; 
  min-height: 300px; 
}

.align-container {
  display: flex;
  background-color: #f0f0f0; 
  padding: 15px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 100%; 
  max-width: 800px; 
  align-items: center; 
  box-sizing: border-box; 
}

img {
  width: 160px; 
  height: 230px; 
  object-fit: cover; 
  margin-right: 15px; 
}

.book-details {
  flex: 1; 
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  text-align: left; 
  gap: 10px; 
}

.buttons {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin-left: 15px; 
}

.buttons button {
  margin: 15px 0; 
}

/*create page:*/
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

/*Edit page:*/
.details-container {
  display: flex; 
  align-items: flex-start; 
  margin-top: 20px; 
}

.image-container {
  flex: 1; /* Allow the image container to take available space */
  max-width: 200px; /* Set a max width for the image */
  margin-right: 20px; /* Spacing between image and info */
}

.info-container {
  flex: 2; /* Allow the info container to take more space */
  text-align: left; /* Align text to the left */
}